.login__page{
  background: linear-gradient(316deg, var(--success), var(--clickable), var(--success), var(--gold), var(--success));
  background-size: 1000% 1000%;
  -webkit-animation: background-login 30s ease infinite;
  animation: background-login 30s ease infinite;
  color:white;
}

.login__page main{
  padding-top: 18vh;
}

.login__page--logo img{
  filter:brightness(3);
  height: 15rem;
  max-height: 30vh;
  margin: auto;
}

.login__page--logo h1{
  margin-top: 0;
  font-size: 4rem;
  font-weight: 300;
}

.login__page .abcRioButton{
  margin: 2rem auto;
}

.login__page h2{
  color: white;
}

.login__page input{
  border: 0;
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
  background: rgba(255,255,255,0.75);
  border-radius: 0.25rem;
}

@-webkit-keyframes background-login {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}
@keyframes background-login { 
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}

@media (max-width: 800px){
  .login__page--logo img{
    max-height: 15vh;
    margin: auto;
  }
  .login__page--logo h1{
    font-size: 2.5rem;
  }
}