:root {
  --dark-gray: rgb(50,50,70);
  --light-gray: rgb(200,200,215);
  --lighter-gray: rgb(230,230,240);
  --background: rgb(252,252,254);
  --success: rgb(100,200,100);
  --error: rgb(250,50,75);
  --clickable: rgb(80,120,200);
  --gold: rgb(220,180,30);
}

/* Main elements */
a{
  cursor: pointer;
  color: var(--clickable);
}

body{
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--dark-gray);
  background: var(--background);
  position: relative;
}

p + p{
  padding-top: 1.5rem;
}

h1, h2, h3{
  margin-top: 1.5rem;
}

h3:first-child{
  margin-top: 0;
}

h1{
  font-weight: 900;
  font-size: 2.75rem;
}

hr{
  border: 0;
  border-bottom: 1px solid var(--light-gray);
  margin: 1rem 0;
}

label{
  margin-top: 0.25rem;
  display: block;
  font-weight: 500;
}

main, footer{
  width: 55rem;
  max-width: 100%;
  margin: auto;
  margin-top: 1.5rem;
  padding: 1rem;
}

nav{
  position: fixed;
  background: var(--success);
  right: 0;
  left: 0;
  top: 0;
  padding: 0.25rem 1rem;
  z-index: 10;
  box-shadow: 0.1rem 0.1rem 0.5rem 0rem var(--light-gray);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a{
  color: white;
  font-weight: 500;
}

select{
  width: 100%;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 1em;
  padding: 0.5em;
}

.util__hidden{
  display: none!important;
}

.login__page{
  background: linear-gradient(316deg, var(--success), var(--clickable), var(--success), var(--gold), var(--success));
  background-size: 1000% 1000%;
  -webkit-animation: background-login 30s ease infinite;
  animation: background-login 30s ease infinite;
  color:white;
}

.login__page main{
  padding-top: 18vh;
}

.login__page--logo img{
  filter:brightness(3);
  height: 15rem;
  max-height: 30vh;
  margin: auto;
}

.login__page--logo h1{
  margin-top: 0;
  font-size: 4rem;
  font-weight: 300;
}

.login__page .abcRioButton{
  margin: 2rem auto;
}

/* Other elements - Alphabetical order */
.btn, button.btn{
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background: var(--clickable);
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0;
  border: 0;
  display: inline-block;
}

.btn:disabled,
.btn[disabled],
button.btn:disabled,
button.btn[disabled]{
  pointer-events: none;
  background: var(--light-gray);
}

.btn--no-margins{
  margin: 0;
}

.card{
  padding: 1rem;
  margin: 1rem 0;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0rem var(--light-gray);
  transition: 0.3s;
}

.card__timeline{
  position: relative;
  margin-left: 2rem;
}

.card__timeline:before{
  content: '';
  position: absolute;
  background: var(--light-gray);
  top: -0.5rem;
  bottom: -0.5rem;
  width: 2px;
  left: -1.5rem;
}

.card__timeline:after{
  content: '';
  position: absolute;
  background: var(--light-gray);
  border-radius: 100%;
  top: 50%;
  left: -2rem;
  height: 1rem;
  width: 1rem;
}

.card__timeline--goal:after{
  background: white url(../img/icons/ball-success.svg);
  height: 1.5rem;
  width: 1.5rem;
  left: -2.25rem;
}

.card__timeline--goal-alwayTeam:after{
  background: white url(../img/icons/ball-failure.svg);
}

.card__flex{
  display: flex;
  align-items: center;
}

.card__flex > * {
  margin: 0 0.5rem;
}

.card__header {
  font-size: 0.95rem;
  opacity: 0.8;
  justify-content: space-between;
}

.card--clickable{
  cursor: pointer;
}

.card--clickable:hover{
  transform: scale(1.025);
}

.card--clicked{
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.5;
}

.field{
  background: var(--success) url(../img/textures/grass.jpg);
  background-size: cover;
  color: white;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.field td{
  height: 4.5em;
  width: 4.5em;
}

.field__item{
  position: relative;
  transition: 0.3s;
}

.field__item:hover{
  transform: scale(1.1);
}

.field__item:before{
  content: '';
  position: absolute;
  background: url(../img/icons/ball-success.svg);
  filter: brightness(3);
  border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  opacity: 0.5;
  top: 0.5rem;
  right: 15%;
}

.field__item-center_back{
  background: url(../img/icons/positions/center_back.svg) no-repeat center;
  background-size: 70%;
}

.field__item-goalkeeper{
  background: url(../img/icons/positions/goalkeeper.svg) no-repeat center;
  background-size: 70%;
}

.field__item-left_wing_back{
  background: url(../img/icons/positions/left_wing_back.svg) no-repeat center;
  background-size: 70%;
}

.field__item-midfielder{
  background: url(../img/icons/positions/midfielder.svg) no-repeat center;
  background-size: 70%;
}

.field__item-right_wing_back{
  background: url(../img/icons/positions/right_wing_back.svg) no-repeat center;
  background-size: 70%;
}

.field__item-stricker{
  background: url(../img/icons/positions/stricker.svg) no-repeat center;
  background-size: 70%;
}

.field__item-winger{
  background: url(../img/icons/positions/winger.svg) no-repeat center;
  background-size: 70%;
}

.grid{
  display: flex;
}

.grid > *{
  flex: 1 1 0;
}

.grid > *:nth-child(even){
  margin-left: 0.5rem;
}

.grid > *:nth-child(odd){
  margin-right: 0.5rem;
}

.img__icon{
  height: 4.5rem;
  width: 4.5rem;
  object-fit: contain;
}

.list--no-style li{
  list-style: none;
}

.loading{
  overflow: hidden;
}

.loading:before{
  content: '';
  position: absolute;
  background: rgba(80,80,100, 0.3);
  top: -5rem;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 15;
}

.loading:after{
  content: "";
  position: fixed;
  top: 48vh;
  right: 48%;
  height: 4rem;
  width: 4rem;
  background: url(../img/icons/ball-success.svg);
  filter:brightness(3);
  animation: rotateFull 2s linear infinite;
  z-index: 16;
}

.nav__logo{
  display: flex;
  align-items: center;
  font-weight: 300;
  text-decoration: none;
  padding: 0.25rem 0;
}

.nav__logo img{
  margin-right: 0.5rem;
}

.table--responsive{
  width: 100%;
  border-collapse: collapse;
  margin: 0.5rem 0 1.5rem;
  position: relative;
  overflow: auto;
}

.table--responsive td{
  padding: 1rem;
}

.table--responsive thead tr{
  font-weight: 600;
  font-size: 1.1rem;
  background: var(--lighter-gray);
}

.table--responsive thead{
  position: sticky;
  top: 7.25rem;
}

.table--responsive tbody{
  background: white;
}

.text--centered{
  text-align: center;
}

.text__main-title{
  position: sticky;
  top: 2.6rem;
  padding-top: 0.75rem;
  background: var(--background);
  border-bottom: 1px solid var(--light-gray);
  z-index: 9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text__main-title:before{
  content: '';
  position: absolute;
  background: var(--background);
  top: 0;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  z-index: -1;
}

.text--gold-color{
  color: var(--gold);
}

.toast{
  background: white;
  max-width: 30rem;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  padding: 1.25rem;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0rem var(--light-gray);
}

.toast--success{
  background: var(--success);
  color: white;
  font-weight: 500;
}

@keyframes rotateFull {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes background-login {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}
@keyframes background-login { 
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}

/* Media querie, elements in alphabetical order */
@media (max-width: 800px){
  .btn, button.btn{
    display: block;
    text-align: center;
    width: 100%;
  }
  .grid{
    flex-direction: column;
  }
  .grid > *:nth-child(even), .grid > *:nth-child(odd){
    margin: 0;
  }
  h1{
    font-size: 1.2rem;
  }
  .hidden-mobile{
    display: none;
  }
  input{
    width: 100%;
  }
  .login__page--logo img{
    max-height: 15vh;
    margin: auto;
  }
  .login__page--logo h1{
    font-size: 2.5rem;
  }
  .table--responsive{
    display: block;
    max-height: 60vh;
  }
  .table--responsive thead{
    position: initial;
  }
  .table--responsive td{
    min-width: 9rem;
  }
  .toast{
    bottom: 0;
    right: 0;
    left: 0;
    max-width: initial;
    border-radius: 0;
    text-align: center;
  }
}